$black: #000000;
$gray-darker: #555555;
$gray-dark: #666666;
$gray: #878787;
$gray-light: #cccccc;
$gray-lighter: #f7f7f9;
$gray-extra-lighter: #FAFAFA;
$white: #FFFFFF;

$primary: #006064;
$primary-light: #037175;

$success: #2ecd99;
$success-light: #4BD2A6;

$info: #5bc0de;
$info-light: #31b0d5;

$warning: #f0c541;
$warning-light: #F0CB5C;

$error: #ed6f56;
$error-light: #ED836D;

